<h1>BAMM TCHACALACA!</h1>

<%= link_to "index consultations", nutritionist_consultations_path %>
<%= link_to "add consultation", new_nutritionist_consultation_path %> <br>
<%= link_to "add task", new_nutritionist_task_path %>
<%= link_to "index tasks", nutritionist_tasks_path %>
<%= link_to "calendar", calendar_index_path %>
